
body {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    height: 100vh;
    /* ocupa toda la altura de la pantalla */
margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom left,
            #0b3a3f 0%,
            #1a2c55 45%,
            #2b0f2f 100%);
}
.logo a{color: aliceblue;font-size: 150%;font-family: 'Montserrat', sans-serif;
    font-weight: 700;text-decoration:none;font-family: "Zen Dots", sans-serif;font-style: normal}