body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    height: 100vh;
    background: linear-gradient(to bottom left,
            #0b3a3f 0%,
            #1a2c55 45%,
            #2b0f2f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{display: flex;gap: 2%;padding-left: 4%;padding-top: 4%;height: 10%;width: 100%;align-items: center;}
img{height: 8vh;width: 8vh;border-radius: 100%;}
.nombre{color: white;font-family: sans-serif;}
main{display: flex;justify-content: center;margin-top: 5%;}
a{background-color: transparent;width: 91%;height: 75%;border-radius: 2vh;line-height: 210%;border: rgba(151, 151, 151, 0.09) solid 1px;background-color: rgba(151, 151, 151, 0.09);text-decoration: none;font-family: sans-serif;display: flex;justify-content: space-between;align-items: center;}
a:hover{background-color: rgba(220, 220, 220, 0.14);}
p {text-align: left;color: white;margin-left: 4%;font-size: 120%;}
span{ text-align: left;color: white;font-size: 70%; letter-spacing: 0.2vh ;}
.flecha{ margin-left: 2%}
.astro{font-size: 500%;  }